*{
    box-sizing: border-box;
}

body{
    color: black;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
}
/* En-tete*/
a{
    text-decoration: none;
    color: white;
}

.wrapper{
    margin: 0 auto;
    margin-right: 200px;
    width: 1000px;
}
.logo{
    position: fixed;
    height: auto;
    left: 0px;
    top: -80px;
    width: 350px;

}
header{
    height: 100px;
    border-bottom: 1px solid black;
    background: linear-gradient(90deg,#858585,#0E1300)
}

header li{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
header li a{
    display: block;
    padding: 40px;
    padding-right: 70px;
}
header li:hover a{
    background-color: white;
    color: red;
}
header li:hover .sous_menu{
    display: block;
}
.sous_menu{
    display: none;
    position: absolute;
    background-color: red;
    width: 165px;
}
.sous_menu li{
    display: block;
}

.sous_menu li:hover a{
    background-color: red;
    color: white;
}

main.wrapper{
    margin-top: 30px;
}