/* Zoning 4 */
.container {
    display: grid;
    grid-template-rows: 10vh 5vh auto 10vh; 
    grid-template-columns: 2% 96% 2%; 
    height: 100vh;
    width: 100vw;
    border: 3px solid black;
}

.top, .menu, .bottom {
    grid-column: span 3;
    
    padding: 1vh;
}

.main {
    grid-column: 2 / 3; 
    
    padding: 1vh;
    height: 100%; 
}

#id-C {
    background-color: #f4d03f; 
    margin-top: 1%;
}
#id-M {
    background-color: #9b59b6; 
}
#id-HB {
    background-color: #1abc9c; 
}
#id-HB2 {
     background-color: #1abc9c;
     margin-top: 2%;
     
    }