body, html {
    height: 100%;
    margin: 0;
}

.zone-haut {
    background-color: #e71c1c;
    color: black;
    padding: 20px;
    width: 100%;
    height: 125px;
    box-sizing: border-box;
}


.conteneur {
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
}

.zone-gauche {
    background-color: #5586ff;
    color: black;
    width: 25%;
    padding: 20px;
    height: 100%;
}

.zone-milieu {
    background-color: #55d87b;
    color: black;
    width: 75%;
    padding: 20px;
    height: 100%;
}